
.navbar__main {
  background: linear-gradient(90deg, rgba(246,117,180,1) 0%, rgba(253,130,100,1) 100%);
}

.navbar__main-container {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  height: 30px;
  cursor: pointer;
  

  &:hover {
    animation: rotate 1s forwards;
  }

}



.navbar__home-icon {
  height: 30px;
  cursor: pointer;
  margin-right: 0.5rem;

  &:hover {
    animation: smash 1s forwards;
  }
}

.navbar__logout-icon {
  height: 30px;
  cursor: pointer;

  &:hover {
    animation: smash 1s forwards;
  }
}


@keyframes rotate {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes smash {
  0% {
    
    transform: scaleX(1);
  }

  50% {

    transform: scaleX(1.4);
  }

  100% {

    transform: scaleX(1);
  }
}