.textfield__button-nostyle {
    background-color: transparent;
    border: none;
    color: aliceblue;
}

.MuiBackdrop-root {
    background-color: transparent;
}

.MuiDataGrid-root {
    background-color: transparent; 

}